TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_FROM_NUMBER=+1234567890
ADVISORY_ENGINE_URL=https://kisan-alert-system.onrender.com/advisory
ADVISORY_TIMEOUT_SECONDS=5
DEFAULT_CROP=wheat
DEFAULT_LOCATION=Indore
PORT=3000
